<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Shop </title>
</head>
<body>
<h3>Add Products</h3>
Name user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<p></p>
<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<p></p>
<a th:href="@{/products}">Product List</a>
<br/><br/>

<form th:action="@{/admin/add/product}" method="POST" enctype="multipart/form-data">
    Name: <input type="text" name="name"/> <br/><br/>
    Price: <input type="number" name="price"/> <br/><br/>
    Quantity: <input type="number" name="quantity"/> <br/><br/>
    Image: <input type="file" name="file"/> <br/><br/>
    <input type="submit" value="Create"/>
</form>


</body>
</html>