<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Shop </title>
</head>
<body>
<h3>Basket</h3>
Name user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<p></p>
<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<p></p>
<a th:href="@{/products}">Product List</a>
<p></p>
<form th:action="@{/clean}" method="POST">
    <input type="submit" value="Clean basket"/>
</form>
<p></p>
<h2 style="color:green;" th:text="${message}"></h2>
<p></p>
<table border="1" style="width:250px">
    <tr>
        <th>Code</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity to buy</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:utext="${product.code}"></td>
        <td><img width="75" height="50" th:src="@{/image/{code}(code=${product.code})}"></td>
        <td th:utext="${product.name}"></td>
        <td th:utext="${product.price}"></td>
        <td th:utext="${product.quantity}"></td>
        <form action="#" th:action="@{/delete/{code}(code=${product.code})}" method="POST">
            <td>
                <input type="submit" value="Delete"/>
            </td>
        </form>
    </tr>
</table>
<p></p>
<form th:action="@{/buy}" method="POST">
    <input type="submit" value="Buy products"/>
</form>

</body>
</html>