<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<h3>Products list</h3>
Name user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<p></p>
<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<p></p>
<a th:href="@{/admin/add}">Add Product</a>
<br/><br/>
<table border="1" style="width:250px">
    <tr>
        <th>Code</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Quantity to buy</th>
        <th>Add basket</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:utext="${product.code}"></td>
        <td><img width="75" height="50" th:src="@{/image/{code}(code=${product.code})}"></td>
        <td th:utext="${product.name}"></td>
        <td th:utext="${product.price}"></td>
        <td th:utext="${product.quantity}"></td>
        <td>
            <a th:href="@{/admin/edit/{code}(code=${product.code})}">Edit</a>
        </td>
        <form action="#" th:action="@{/admin/delete/{code}(code=${product.code})}" method="POST">
            <td>
                <input type="submit" value="Delete"/>
            </td>
        </form>
        <form action="#" th:action="@{/add/basket/{code}(code=${product.code})}" method="POST">
            <td>
                <input type="number" name="count"/>
            </td>
            <td>
                <input type="submit" value="Add"/>
            </td>
        </form>
    </tr>
</table>
<p></p>
<form>
    <a th:href="@{/basket}">Basket</a>
</form>
</body>
</html>